- if user_signed_in?
  %li.nav-item
  = link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link"
  = link_to 'Edit profile', edit_user_registration_path, class: "nav-link"
  - if current_user.admin?
    = link_to 'Admin panel', edit_user_registration_path, class: "nav-link"
- else
  %li.nav-item
  = link_to 'Login', new_user_session_path, class: "nav-link"
  %li.nav-item
  = link_to 'Register', new_user_registration_path, class: "nav-link"
